*{
 margin: 0;
padding: 0;
}
body{
    background: url(praroz.avif);
    background-size: cover;
}
.logo{
    color: crimson;
    font-family: Arial;
    font-size: 35px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
.menu{
    float: left;
}
.menu a:hover{
    background-color: black;
    transition: 0.4s;
}
ul{
    display: flex;
    text-align: center;
    
}
ul li{
    margin-left: 20px;
    padding: 30px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
}
ul li a:hover{
    color: white;
}
.search{
    float: left;
    margin-top: 20px; 
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid orange; 
    width: 200px;
    height: 40px;
    background: transparent;
}

.btn{
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    width: 70px;
    height: 40px;
}
.btn a{
    text-decoration: none;
    color: white;
    font-size: medium;
}
.btn:hover{
    transition: 0.4s;
    background-color: black;
}

.content{
    float: left;
    margin-left: 30px;
    margin-top: 50px;
    font-family: Arial;
    
}
.cnt{
    height: 40px;
    width: 120px;
    margin-top: 30px;
    background-color: orange;
   border-radius: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
   transition: .4s ease;
   
}
.cnt a{
    color: white;
    text-decoration: none;

}
.cnt:hover{
   background-color: black;
}
.form{
    float: right;
    margin-top: 70px;
    margin-right: 70px;
    height: 300px;
    width: 300px;
    background-color: transparent;
    padding: 40px;  
}
.form h2{
  margin: 10px;
  margin-left: 50px;

}
.form input{
    margin: 10px;
    height: 40px;
    width: 250px;
    background-color: orange;
    border-radius: 10px;
    text-align:center;
    
    
}
.login{
    
    width: 250px;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    margin-left: 10px;
    margin-top: 10px;
}
.login:hover{
    background-color: black;
    transition: 0.4s;
}
.login a{
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font-size: medium;
}  
img{
    height: 200px;
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    border-color: blue;
    
}
img{
    height: 200px;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;

}
